*.aux
*.log
*.lot
*.lof
*.xmpi
*.toc
*.synctex*

__pycache__/
.ipynb_checkpoints/
.vscode/

/data/
/ignored/
/logs/
/results/
/models/


*.pdf
*.doc
*.ipynb

!figures_data.ipynb
!figures_results.ipynb
!figures.ipynb